@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

:root {
	--clr-gradient-1: #e43a63ff;
	--clr-gradient-2: #ff7200ff;
	--clr-gradient-3: #ff5757;

	--clr-btn-shadow: hsla(4, 100%, 67%, 0.212);

	--clr-tomato: hsl(4, 100%, 67%);
	--clr-dark-slate-grey: hsl(234, 29%, 20%);
	--clr-charcoal-grey: hsl(235, 18%, 26%);
	--clr-grey: hsl(231, 7%, 60%);
	--clr-white: hsl(0, 0%, 100%);

	font-size: 16px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;

	min-height: 100dvh;

	background-color: var(--clr-charcoal-grey);
	color: var(--clr-dark-slate-grey);
}

.signup-section {
	display: flex;
	gap: 2rem;

	padding: 1.4rem;

	width: 50rem;

	background-color: var(--clr-white);

	border-radius: 30px;
}

/*** Signup Main Content ***/

.signup-main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.6rem;

	padding: 2rem;
}

.signup-main-content > h1 {
	font-size: 2.8rem;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;

	padding-left: 0;

	/* list-style-image: url('./assets/images/icon-list.svg'); */
	list-style: none;
}

li {
	position: relative;
	padding-left: 1.8rem;
}

li::before {
	content: '';
	position: absolute;

	background-image: url('./assets/images/icon-list.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	transform: translateX(-1.8rem);

	width: 1rem;
	height: 1rem;
}

/*** Form ***/

#signup-form {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.form-email-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* flex-direction: column; */
}

label {
	font-size: 0.8rem;
	font-weight: 700;
	margin-bottom: 0.4rem;
}

.form-email-container:has(:user-invalid) > .error-message {
	display: block;
}

.error-message {
	font-size: 0.8rem;
	color: var(--clr-tomato);
	font-weight: 700;
	margin-left: auto;
	display: none;
}

input#email {
	border: 1px solid var(--clr-grey);
	border-radius: 6px;
	padding: 1rem;
}

input::placeholder {
	color: var(--clr-grey);
}

input:user-invalid::placeholder {
	color: var(--clr-tomato);
	opacity: 50%;
}

input:user-invalid {
	background-color: rgba(250, 128, 114, 0.3);
	border-color: var(--clr-tomato);
	color: var(--clr-tomato);
}

.form-email-container > input {
	grid-column: span 2;
}

/*** Buttons ***/

.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;

	width: 100%;

	padding: 1rem;

	border-radius: 6px;
	border: none;

	color: var(--clr-white);
	font-weight: 700;

	background: linear-gradient(
		270deg,
		var(--clr-dark-slate-grey),
		var(--clr-dark-slate-grey)
	);
	background-size: 400% 400%;

	z-index: 1;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

	transition: box-shadow 0.15s ease-in-out;
}

.button:hover {
	box-shadow: 0 8px 8px 3px var(--clr-btn-shadow);
	cursor: pointer;
}

.button::before {
	position: absolute;
	content: '';
	inset: 0;

	background: linear-gradient(
		270deg,
		var(--clr-gradient-1),
		var(--clr-gradient-2),
		var(--clr-gradient-3)
	);
	background-size: 400% 400%;

	z-index: -1;

	transition: opacity 0.5s linear;
	opacity: 0;
}

.button:hover::before {
	animation: ButtonHover 2s ease-in-out infinite;

	opacity: 1;
}

@keyframes ButtonHover {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*** Success Message ***/

main {
	display: flex;
	position: relative;
	min-height: 100dvh;
	width: 100%;
	overflow: hidden;
}

/*** NOTE: Remove when done! ***/
.signup-section {
	flex-shrink: 0;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translateX(-200vw); */

	margin-block: auto;

	transition: transform, 0.5s, ease-in-out;

	/* display: none; */
}

.success-message {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	transform: translateX(200vw);

	display: flex;
	flex-direction: column;
	flex-grow: 0;
	gap: 2rem;

	padding: 3rem;

	max-width: 30rem;
	max-height: fit-content;

	background-color: var(--clr-white);

	border-radius: 30px;

	transition: transform, 0.5s, ease-in-out;

	/* display: none; */
}

.success-message-image {
	max-width: 4rem;
}

.success-message > h2 {
	font-size: 2.8rem;
}

#user-email {
	font-weight: 700;
}

/*** Mobile Design ***/

@media screen and (max-width: 900px) {
	.signup-section {
		flex-direction: column-reverse;
		max-width: 340px;
		border-radius: 0;
	}

	.signup-main-content {
		padding: 0;
	}
}
